.sd-structured-content,
.sd-structured-content-block {
  padding: 1px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #629be7;
  position: relative;
}

.sd-structured-content:has(img),
.sd-structured-content:has(img) .sd-structured-content__content {
  display: inline-block;
}

.sd-structured-content-draggable {
  font-size: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2px;
  bottom: 100%;
  width: calc(100% - 4px);
  max-width: 110px;
  min-width: 0;
  height: 18px;
  padding: 0 4px;
  border: 1px solid #629be7;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  background-color: #629be7dd;
  box-sizing: border-box;
  z-index: 10;
  cursor: grab;
  display: none;
}

.sd-structured-content-draggable span {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sd-structured-content:hover .sd-structured-content-draggable,
.sd-structured-content-block:hover .sd-structured-content-draggable {
  display: inline-flex;
}

.ProseMirror.view-mode .sd-structured-content,
.ProseMirror.view-mode .sd-structured-content-block {
  padding: 0;
  border: none;
}

.ProseMirror.view-mode .sd-structured-content-draggable {
  display: none;
}
